.gradle
/build/

/local.properties

/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/.name
.idea/misc.xml
.idea/modules
.idea/modules.xml
.idea/codeStyles
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
*.iws
*.iml
*.ipr
*.hprof

.DS_Store

*.apk
*.ap_

.externalNativeBuild
.cxx
*.log
*.swp
*.lock
*.tmp
*.temp
*.orig
*.bak
*.class
